<nav>
    <ul style="padding: 0;">
        <form action="mainPage" method="GET">
            <input type="submit" value="main page" />
        </form>
        <form action="register" method="GET">
            <input type="submit" value="register" />
        </form>
        <form action="login" method="GET">
            <input type="submit" value="login" />
        </form>
        <form action="users" method="GET">
            <input type="submit" value="users" />
        </form>
        <form action="admin" method="GET">
            <input type="submit" value="admin" />
        </form>
    </ul>
</nav>