#users_array {
   border: 2px solid black;
}

#users_array th {
  border: solid 1px black
}

#users_array td {
  border: solid 1px black
}

#user_licences {
   border: 2px solid black;
}

#user_licences th {
  border: solid 1px black
}

#user_licences td {
  border: solid 1px black
}

#products_array {
   border: 2px solid black;
}

#products_array th {
  border: solid 1px black
}

#products_array td {
  border: solid 1px black
}