LOGIN
<form id="login">
    username<input id="username" name="username" value="test" required="required"/><br>
    password<input id="password" type="password" name="password" value="test" required="required"/><br>
    <input type="submit" name="submit" value="submit" /><br><br><br>

    <div id="result"></div>
</form>
<script>
    $("#login").submit(function(event) {
        var ajaxRequest;
        event.preventDefault();
        $("#result").html('');
        var values = $(this).serialize();
           ajaxRequest= $.ajax({
                url: "login",
                type: "post",
                data: values
           });
        ajaxRequest.done(function (response){
             $("#result").html('Submitted successfully');
        });
        ajaxRequest.fail(function (data){
            $("#result").html("error" + data['responseText']);
        });
    });
</script>