<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <meta charset="UTF-8">
        <title>Title</title>
        <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <script type="text/javascript" th:src="@{/js/mainPage.js}"></script>
    </head>
    <body>
        <!--Top bar-->
            <div id="top-placeholder"> TOP BAR</div>
        <!--end of Top bar-->

        <!--Navigation bar-->
            <div id="nav-placeholder" style="float: left; width: 90px;">
                <nav>
                    <ul style="padding: 0;">
                        <input id="get_main_page" type="submit" value="main page" />
                        <input id="get_register" type="submit" value="register" />
                        <input id="get_login" type="submit" value="login" />
                        <input id="get_users" type="submit" value="users" />
                        <input id="get_admin" type="submit" value="admin" />
                    </ul>
                </nav>
            </div>
        <!--end of Navigation bar-->

        <!--Content bar-->
            <div id="content-placeholder" style="float: left; width: 600px;">Content BAR</div>
        <!--end of Content bar-->

        <!--Footer bar-->
            <div id="footer-placeholder" style="clear: both;"> Footer BAR</div>
        <!--end of Footer bar-->

    </body>
</html>

