<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
REGISTER
<form action="mainPage" method="GET">
    <input type="submit" value="MAIN PAGE" />
</form>

<form action="login" method="GET">
    <input type="submit" value="login" />
</form>

<form name="register" action="/register" method="POST" enctype="utf8" >
    email<input id="email" name="email" value="asd" required="required"/>
    username<input id="username" name="username" value="asd" required="required"/>
    password<input id="password" type="password" name="password" value="asd" required="required"/>
    <input type="submit" name="submit" value="submit" />
</form>
</body>

</html>