REGISTER

<script type="text/javascript" th:src="@{/js/register.js}"></script>

<form id="register">
    email<input id="email" name="email" value="asd@email.com" required="required"/><br>
    username<input id="username" name="username" value="asd123" required="required"/><br>
    password<input id="password" type="password" name="password" value="asd" required="required"/><br>
    password<input id="matchedPassword" type="password" name="matchedPassword" value="asd" required="required"/><br>
    <input type="submit" name="submit" value="submit" /><br><br><br>

    <div id="result"></div>
</form>
