<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<table>
    <tbody th:each="user : ${users}" th:remove="tag">
        <tr>
            <td th:text="${user.id}">...</td>
            <td th:text="${user.username}">...</td>
            <td th:text="${user.email}">...</td>
            <td th:text="${user.password}">...</td>
        </tr>
    </tbody>
</table>
<form action="mainPage" method="GET">
    <input type="submit" value="MAIN PAGE" />
</form>
</body>
</html>